body{
.tabs{
  border: 1px solid #eeeeee;
  display: flex;
}
.tabs__sidebar{
  width: 125px;
  flex-shrink:0;
  background:#eeeeee;
}
.tabs__button{
  display:block;
  padding:10px;
  background:none;
  border:none;
  width:100%;
  outline:none;
  cursor:pointer;
}
}
